*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 5s ease;
}
:root{
    /* Background Color */
    --bg-red: #d3282e;
    --bg-white: #fff;
    --bg-light-white: #f6f7f8;
    --bg-yellow: #fdd800;
    --bg-green: #009900;

    /* Text Color */
    --text-black: #1f1f1f;
    --text-white: #fff;
    --text-red: #d3282e;
    --text-green: #009900;
    --text-yellow: #fdd800;
    /* Fonts */
    --primary-font: 'Great Vibes', cursive;
    --secondary-font: 'Poppins', sans-serif;
}
.text-red{
    color:var(--text-red);
}
.bg-light-white{
    background-color:var(--bg-light-white) !important;
}
.bg-green{
    background-color:var(--bg-green) !important;
}
h1{
    font-size:45px;
    font-family: var(--primary-font);
    letter-spacing:1px;
    font-weight: 500;
    color:var(--text-white);
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
} 
h2{
    text-align: center;
    font-size: 45px;
    font-family: var(--primary-font);
    letter-spacing: 1px;
    font-weight: 75;
    color: var(--text-black);
    margin: 30px;
    text-shadow: 2px 2px 3px red;
} 
h3{
    font-size:35px; 
    letter-spacing:2px;
    font-weight: 700;
    color:var(--text-green);
    margin-bottom:15px;
}
h4{
    font-size:20px; 
    letter-spacing:2px;
    font-weight: 300;
    color:var(--text-white);
    /* margin-bottom:15px; */
    /* text-shadow: 2px 2px 3px hotpink; */
}
h5{
    font-size:22px; 
    letter-spacing:2px;
    font-weight: 500;
    color:var(--text-black);
    margin-bottom:15px;
    text-shadow: 2px 2px whitesmoke;
}
p{
    margin-top:5px;
    margin-bottom:1rem;
    font-size:25px;
    font-weight: 300;
    line-height:normal;
    color:var(--text-white);
    text-align: center;
    /* text-shadow: 2px 2px 3px hotpink; */
}
.navbar{
	width: 100%;
	height: 70px;
	/* position: fixed; */
	top: 0px;
	background: #ffffff;
}
.navbar img{
	width: 172px;
	margin-right: 50%;
	/* margin-top: 13px; */
}

.nav-item .nav-link{
    font-size: 1rem;
    font-weight: 365;
    color: var(--text-black);
    /* line-height: 1; */
    letter-spacing: 1px;
}
.nav-item .nav-link :hover{
    color: var(--text-yellow);
}
.container-fluid{
    /* height: 500px; */
    padding-top: 150px;
    padding-bottom: 150px;
    /* margin-top: 60px; */
    
}
.banner{
	background: url(../image/img1.jpg);
	width: 100%;
	background-position: center;	
	background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
	/*background size to get zoom outed pic and position centric for the screen */
}
.banner h1{
	color: white;
	text-align: center;
	font-size: 40px;
	
}
.flag{
	background:#645d5d;
	width: 100%;
	height: 90px;
}	
.flag img{
	width: 60px;
	height: 40px;
    float: right;
	padding: 0px 5px 0px 5px;
}
.page2{
	/*padding: 350px 300px 350 px 300px;*/
	font-size: 20px;
    text-align: center;
	/* padding-top: 250px; */
	padding-left: 100px;
	padding-right: 100px;
	/* padding-bottom: 200px; */
}
.banner2{
	background: url(../image/i1.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
	background-attachment: fixed;
    text-align: center;
    padding-top: 100px;
}
.banner3{
	background: url(../image/i2.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
    text-align: center;
	/* height: 500px; */
	/* padding-top: 150px;
	padding-right: 200px;
	padding-left: 200px; */
}
.banner4{
	background: #dc2c77;
	/* padding-top: 150px;
	padding-left: 250px;
	padding-right: 250px; */
	/* height: 300px; */
	width: 100%;
	color: white;
	font-size: 20px;
    text-align: center;
}

.button{
	background:#d71165 ;
	color: white;
	width: 200px;
	height: 50px;
}
.footer{
	width: 80%;
	height: 100px;

}